[submodule "elasticsearch"]
	path = elasticsearch
	url = git://github.com/elasticsearch/cookbook-elasticsearch.git
[submodule "ark"]
	path = ark
	url = git://github.com/opscode-cookbooks/ark.git
[submodule "phantomjs"]
	path = phantomjs
	url = git://github.com/customink-webops/phantomjs.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
